<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mailshine - {{.Name}}</title>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>
<style>
</style>

<body>
  <h2>Feed "{{.Name}}"</h2>

  <h4>Available Digests (<a href="/feeds/{{$.Name}}/preview">preview</a>):</h4>
  <ul>
    {{range .Digests}}
    <li><b>{{.ID}}</b> - <a href="/feeds/{{$.Name}}/rss">{{.Title}}</a> - {{ printf "%s" .Content}}</li>
    {{end}}
  </ul>

</body>

</html>
